{%extends 'app/base.html'%}


{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'app/css/estilos.css'%}">
{% endblock %}

{% block contenido %}
<section>
    <br>
    <br>
    <div class="container" id="container_01">
        <br>
        <br>
        <br>
        <img src="{% static 'app/img/cartas_pokemon/SWSH125_ES_GG44.png'%}" alt="mewtwo_V">
        <h1 class="titulo_pro">mewtwo V</h1>
        <h2 class="precio">$20.000</h2>
</section>


<section>
    <br>
    <div class="container" id="container_02">
        <br>
        <h3 class="tipo">tipo</h3>
        <p>Pokemon Vastro.</p>
        <br>
        <h3 class="Características">Características</h3>
        <p>• Debilidad = agua x2</p>
        <p>• Resistencia = lucha</p>
        <p>• Retirada = 2 Energias</p>
        <br>
        <h3 class="Habilidades">Habilidades</h3>
        <p>• Psicopurga</p>
        <p>• Incursion Astro</p>
        <br>
        <h3 class="PS">PS</h3>
        <p>•PS = 280 </p>
        <br>
        <br>
</section>

{% endblock %}