{%extends 'app/base.html'%}


{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'app/css/estilos.css'%}">
{% endblock %}

{% block contenido %}
<section>
    <br>
    <br>
    <div class="container" id="container_01">
        <br>
        <br>
        <br>
        <img src="{% static 'app/img/cartas_pokemon/SWSH6_ES_64.png'%}" alt="cresserila">
        <h1 class="titulo_pro">cresserila</h1>
        <h2 class="precio">$3.000</h2>
</section>


<section>
    <br>
    <div class="container" id="container_02">
        br>
        <br>
        <h3 class="tipo">tipo</h3>
        <p>Pokemon basico.</p>
        <br>
        <h3 class="Características">Características</h3>
        <p>• Debilidad = agua</p>
        <p>• Resistencia = lucha</p>
        <p>• Retirada = 1 Energias</p>
        <br>
        <h3 class="Habilidades">Habilidades</h3>
        <p>• Brillo Creciente</p>
        <p>• Laser fotonico</p>
        <br>
        <h3 class="PS">PS</h3>
        <p>•PS = 120 </p>
        <br>
        <br>
</section>

{% endblock %}